#container-1{
    display: flex;
}

#container .special{
    margin-left: auto;
}

#container-2{
    display: flex;
}
#container-2 .item{
    flex: 1;
}

#container-3 {
    display: flex;
}
#container-3 .special{
    flex: 1;
    border: 1px solid black;
    border-radius: 1px;
    text-align: center;
}

#container-4 {
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: row/row-reverse/column/column-reverse; */
}

#container-5 {
    display: flex;
}

#container-7 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: stretch;
}

#container-7 .item{
    border: 1px dotted black;
}

/* GRID */
#wrapper-1{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px;
    grid-column-start: 1;
}