#body-container{
    display: flex;
    flex-wrap: wrap;
}

.body-item{
    flex: 0 0 40%;
    justify-content: space-between;
    display: flex;
    /* flex-grow: 1; */
}

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    border-radius: 4px;
    margin: 1px;
    padding: 4px;
    background-color: aliceblue;
    /* background-color:cornflowerblue; */
}

.item.active{
    background-color: aqua;
}

.item-icon{
}

.item-icon img {
    width: 24px;
}

.item-switch{
    margin-left: auto;
    cursor: pointer;
}

.item-switch img {
    width: 24px;
}


.item-title{
    margin: 0;
}

.item-subtitle{

}