button{
    font-size: 20px;
    margin-top: 2px;
}

.wrapper {
    position: relative;
    /* MỐC */
    display: inline-block;
}

.content {
    position: absolute;
    top: 100%;
    /* ngay dưới button */
    left: 0;
    margin-top: 6px;

    display: none;
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    z-index: 10;
}

.wrapper:hover .content {
    display: block;
}